
$body-font-family: 'Rubik';
$sidebar-color: #E1E8ED; // @light-grey3
$feedback-color: #CED9E0; // @light-grey1

$link-color: #2458B3;
$nav-child-link-color: #2458B3;

$base-button-color: #EBF1F5;
$btn-primary-color: #2458B3;
$border-radius: 0;